{
  "openapi": "3.0.3",
  "info": {
    "title": "FreeTestAPI",
    "description": "FreeTestAPI provides over 25 dummy APIs to streamline the process of API testing for developers. It allows users to access mock data for various applications, ensuring seamless workflow integration.",
    "version": "1.0.0",
    "contact": {
      "url": "https://freetestapi.com/"
    }
  },
  "servers": [
    {
      "url": "https://freetestapi.com/api/v1",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Users",
      "description": "Mock user data endpoints"
    },
    {
      "name": "Products",
      "description": "Mock product data endpoints"
    },
    {
      "name": "Posts",
      "description": "Mock blog post data endpoints"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get all users",
        "description": "Retrieves a list of all mock user data",
        "operationId": "getAllUsers",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of results returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user by ID",
        "description": "Retrieves a single user by their unique identifier",
        "operationId": "getUserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the user",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with user details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get all products",
        "description": "Retrieves a list of all mock product data",
        "operationId": "getAllProducts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of results returned",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter products by category",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique identifier for the user",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Full name of the user",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the user",
            "example": "john.doe@example.com"
          },
          "username": {
            "type": "string",
            "description": "Username of the user",
            "example": "johndoe"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the user",
            "example": "+1-234-567-8900"
          },
          "address": {
            "type": "object",
            "properties": {
              "street": {
                "type": "string",
                "example": "123 Main St"
              },
              "city": {
                "type": "string",
                "example": "New York"
              },
              "state": {
                "type": "string",
                "example": "NY"
              },
              "zipcode": {
                "type": "string",
                "example": "10001"
              },
              "country": {
                "type": "string",
                "example": "USA"
              }
            }
          },
          "website": {
            "type": "string",
            "format": "uri",
            "description": "Personal website URL",
            "example": "https://johndoe.com"
          },
          "company": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "Tech Corp"
              },
              "catchPhrase": {
                "type": "string",
                "example": "Innovation at its best"
              },
              "bs": {
                "type": "string",
                "example": "synergize innovative solutions"
              }
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Unique identifier for the product",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "Name of the product",
            "example": "Laptop Computer"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the product",
            "example": "High-performance laptop with 16GB RAM and 512GB SSD"
          },
          "price": {
            "type": "number",
            "format": "float",
            "description": "Price of the product in USD",
            "example": 999.99
          },
          "category": {
            "type": "string",
            "description": "Product category",
            "example": "Electronics"
          },
          "brand": {
            "type": "string",
            "description": "Brand name of the product",
            "example": "TechBrand"
          },
          "stock": {
            "type": "integer",
            "description": "Available stock quantity",
            "example": 50
          },
          "rating": {
            "type": "number",
            "format": "float",
            "description": "Average product rating (0-5)",
            "minimum": 0,
            "maximum": 5,
            "example": 4.5
          },
          "image": {
            "type": "string",
            "format": "uri",
            "description": "URL to product image",
            "example": "https://freetestapi.com/images/product1.jpg"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Product creation timestamp",
            "example": "2023-01-15T10:30:00Z"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message",
            "example": "Resource not found"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code",
            "example": 404
          },
          "message": {
            "type": "string",
            "description": "Detailed error description",
            "example": "The requested resource could not be found"
          }
        }
      }
    }
  }
}
